.hidden {
    display: none;
}
span {
    color: white;
    font-size: 16px;
}
li {
    list-style: none;
}
h1 {
    color: white;
}
h2 {
    color: white;
    font-size: 72px;
    opacity: 0.8;
}
img {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 80%;
}